@use "@/styles/scss" as *;

.search {
	width: 100%;
	background-color: $background-lighter;
	border-radius: 10px;

	input {
		color: white;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

		/* display: none; <- Crashes Chrome on hover */
		appearance: none;
	}
}
