@use "@/styles/scss" as *;

.header {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 5px;
	align-items: center;
	margin-top: 15px;
	padding: 5px;
	border-bottom: 2px solid $primary;

	.nav {
		display: flex;
		gap: 5px;
	}

	.logout {
		display: flex;
		gap: 5px;
	}
}
