@use "@/styles/scss" as *;
.header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    margin: 15px 0 0;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid $primary;

    .nav {
        display: flex;
        gap: 5px;
    }

    .logout {
        display: flex;
        gap: 5px;
    }
}
