@use "@/styles/scss" as *;

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	.card {
		display: flex;
		flex-direction: column;
		gap: 30px;
		max-width: 550px;
		padding: 20px;
		color: $white;
		text-align: center;
		background-color: $background-lighter;
	}
}
