@use "@/styles/scss" as *;

.wrapper {
	display: grid;
	grid-template: "contacts chats" 100%/ 400px auto;
	height: 100%;
	padding: 10px;
	color: $white;

	.contacts {
		grid-area: contacts;
		overflow-y: auto;
		background-color: $background-deeper;
	}

	.chats {
		grid-area: chats;
		padding: 10px;
		background-color: black;
	}
}
