@use "@/styles/scss" as *;

.message {
	display: flex;
	width: 100%;
	margin: 5px 0;
	padding: 5px;
	border-radius: 5px;

	&.from {
		justify-content: flex-end;
	}

	&.to {
		justify-content: flex-start;
	}

	p {
		max-width: 65%;
		padding: 12px;
		text-align: right;
		background: $background-lighter;
		border-radius: 10px;
	}
}
