@use "@/styles/scss" as *;

.wrapper {
	display: grid;
	grid-template:
		"header" auto
		"body" calc(100vh - 165px)
		"footer" auto;
	gap: 10px;

	.header {
		grid-area: header;
	}

	.body {
		grid-area: body;
	}

	.footer {
		grid-area: footer;
	}
}
